@model XperiCode.PluploadMvc.Sample.Models.HomeIndexViewModel

@{
    ViewBag.Title = "Home Page";
}

@section Scripts {

    <script type="text/javascript">

        var uploader1 = new plupload.Uploader({
            browse_button: $('.plupload-select')[0],
            url: '@Url.Action("UploadFile", new { reference = @Model.UploadReference })'
        });

        uploader1.init();

        uploader1.bind('FilesAdded', function (up, files) {
            var $filelist = $('.plupload-filelist');
            var html = $filelist.html();
            plupload.each(files, function (file) {
                html += '<div id="' + file.id + '">' + file.name + ' (' + plupload.formatSize(file.size) + ')</div>';
            });
            $filelist.html(html);
            up.start();
        });

    </script>

}

@using (Html.BeginForm("SubmitForm1", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Sample form 1</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Text, new { @class = "col-md-1 control-label" })
        <div class="col-md-11">
            @Html.TextBoxFor(m => m.Text, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UploadReference, new { @class = "col-md-1 control-label" })
        <div class="col-md-11">
            @Html.HiddenFor(m => m.UploadReference)
            <div class="form-control pull-left plupload-filelist" style="max-width: 280px; margin-right: 12px; min-height: 34px; height: auto;">
            </div>
            <div class="pull-left">
                <input type="button" class="btn btn-default plupload-select" value="Select" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-1 col-md-11">
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
    </div>
}
