@model XperiCode.PluploadMvc.Sample.Models.SampleForm2Model

@{
    ViewBag.Title = "Sample form 2";
}

@section Scripts {

    <script type="text/javascript">

        $('.plupload-control').each(function () {

            var $container = $(this);

            var uploader = new plupload.Uploader({
                runtimes: 'silverlight',
                browse_button: $container.find('.plupload-select')[0],
                url: $container.data('plupload-url'),
                flash_swf_url: '/Scripts/Moxie.swf',
                silverlight_xap_url: '/Scripts/Moxie.xap'
            });

            uploader.init();

            uploader.bind('FilesAdded', function (up, files) {
                var $filelist = $container.find('.plupload-filelist');
                var html = $filelist.html();
                plupload.each(files, function (file) {
                    html += '<div id="' + file.id + '" title="' + file.name + '" class="plupload-file">' + file.name + '</div>';
                });
                $filelist.html(html);
                up.start();
            });

        });

    </script>

}

@using (Html.BeginForm("SubmitForm2", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h3>Sample form 2</h3>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Text, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Text, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Text, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Files, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <div class="plupload-control" data-plupload-url="@Url.Content("~/Plupload.axd?reference=" + Model.Files)">
                @Html.HiddenFor(m => m.Files)
                <div class="form-control pull-left plupload-filelist">
                </div>
                <div class="pull-left">
                    <input type="button" class="btn btn-default plupload-select" value="Select" />
                </div>
                @Html.ValidationMessageFor(m => m.Files, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.OtherFiles, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <div class="plupload-control" data-plupload-url="@Url.Content("~/Plupload.axd?reference=" + Model.OtherFiles)">
                @Html.HiddenFor(m => m.OtherFiles)
                <div class="form-control pull-left plupload-filelist">
                </div>
                <div class="pull-left">
                    <input type="button" class="btn btn-default plupload-select" value="Select" />
                </div>
                @Html.ValidationMessageFor(m => m.OtherFiles, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
    </div>
}
